{
  "plugins": [
    ["@babel/plugin-transform-typescript", { "isTSX": true }],
    ["@babel/plugin-transform-react-jsx", { "runtime": "automatic" }]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react"]
}
